html, body{
 		height: 100%;
 	}
 	#sidenavCont {
		height: 100%;
		width: 20%;
		border-right: 4px solid black;
		text-align: center;		
		background-color: #f1f1f1;
		overflow: auto;
		position: fixed;
		margin: 0;
		padding: 0;
	}
 	#main {
 		position: absolute;
 		margin-left: 20%;
 		padding-left: 50px;
 		width: 50%;
 		height: 100%;
 		border-right: 4px solid black;
 	}
 	#inputarea{

 	}
 	#grapharea{
 		
 	}

 	#case {
 		padding-top: 200px; 
 		margin-left: 85%;
 		font-size: 32px;
 	}
 	#output{
 		display: none;
 	}
    #graph{
    	width: 500px;
    	height: 500px;
    	border: 1px solid black;
    }
    .node
    { 
		position:  absolute;
		width: 50px; 
		height: 50px;
		cursor: move;
		border: 1px solid black;
		border-radius: 100px;
		text-align: center;
		vertical-align: middle;
		font-size: 20px;
		background-color: white;
		z-index: 10;
    }

    .node:hover{
    	border-color: red !important;
    	border-width: 2px !important;
    }

    #footer {
    	position: absolute;
    	bottom: 0px;
    	width: 100%;
    	background-color:gray;
    }
   
	#sidenav {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    
	}

	#sidenav li a {
	    display: block;
	    color: #000;
	    padding: 8px 0 8px 16px;
	    text-decoration: none;
	}

	#sidenav li a.active {
	    background-color: #999;
	    color: white;
	}

	#sidenav li a:hover:not(.active) {
	    background-color: #555;
	    color: white;
	}
